:root {
  --bg-color: rgba(150, 150, 150, 1);

  /* Border Colors are all transparent colors. These will tint or shade the background color of the square. */
  --border-left-color: rgba(255, 255, 255, 0.20);
  --border-top-color: rgba(255, 255, 255, 0.33);
  --border-right-color: rgba(0, 0, 0, 0.15);
  --border-bottom-color: rgba(0, 0, 0, 0.5);

  /* Square Colors:  background colors for the squares.*/
  --color-0: #c8c8c8;
  --color-1: #ff6600;
  --color-2: #eec900;
  --color-3: #002aff;
  --color-4: #cc00ff;
  --color-5: #00ff00;
  --color-6: #66ccff;
  --color-7: #ff0000;

  /* Button Colors */
  --button-color-t: rgba(200, 200, 200, 1);
  --button-color-r: rgba(150, 150, 150, 1);
  --button-color-b: rgba(120, 120, 120, 1);
  --button-color-l: rgba(222, 222, 222, 1);

  --cols: 10;
  --rows: 10;
  --tile-size: 20px;
  --border-width: 4px;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("assets/background_graphic_256x256_cropped_filterB&W.jpeg");
  background-repeat: repeat;
  /*todo: maybe use opacity instead of blend-mode*/
  background-blend-mode: screen;
  background-color: rgba(224, 224, 224, 0.9);
}

fieldset {
  border: 2px solid #666;
  border-radius: 6px;
  text-align: left;
}

fieldset > legend {
  margin-right: auto;
}

.medium-text {
  font-size: 0.7em;
}

.sea-tile {
  background-color: var(--color-3);
}

.ship-tile {
  background-color: var(--color-1);
}

.unknown-tile {
  background-color: var(--color-0);
}

.App {
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  /*background-color: var(--bg-color);*/
}

.App-Content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App-header {
  min-height: 100vh;
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  font-weight: bold;
}

.App-sim-history {
  min-width: 200px;
  margin: 10px;
  overflow-y: scroll;
  background: #66ccff55;
}

.App-sim-hist > button{
  padding: 0;
  margin: 0;
}

.App-sim-hist > button > img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.SimulationsMenu {
  background-color: #ffffff66;
}

.SimulationsMenu-inner-fieldset {
  display: flex;
  justify-content: space-between;
}

.SimulationsMenu-player-settings {
  display: flex;
  flex-wrap: wrap;
}

.SimulationsMenu-button {
  align-self: center;
  height: fit-content;
}

.PlayerBoards-Content {
  display: grid;
  grid-template-columns: fit-content(50%) fit-content(50%);
  gap: 10px;
}

.PlayerBoards-header {
  grid-column: span 2;
  margin-bottom: 0;
}

.PlayerBoards-title {
  font-size: 0.8em;
  margin: 0;
}

.GridBoard {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-self: center;
}

.GridSquare:hover {
  opacity: 0.7;
}

.GridSquare {
  border-style: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: var(--border-width);
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
}
